<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="virwport" content="width=device-width">
    <title></title>
  </head>
  <body>
    params
    <%= id%>
    <%= data[0].id%>
  </body>
</html>